<form action="" class="search-form">
  <input class="form-control" type="text" [(ngModel)]="users"  name="username" placeholder="search Username" (keyup)='searchprofile()'>
  </form>
  <div class="row">
   <div class="col-md-6">
      <img src="{{users.avatar_url}}" class="img-circle"  alt="">
  </div>
  <div class="col-md-6">
    <div class = "list-group">
      <li class="list-group-item">Username: {{users.name}}</li>
      <li class="list-group-item"> Bio: {{users.bio}}</li>
      <li class="list-group-item"> Blog: {{users.blog}}</li>
      <li class="list-group-item"> Email: {{users.email}}</li>
      <li class="list-group-item"> public_repos: {{users.public_repos}}</li>
      <li class="list-group-item"> followers: {{users.followers}}</li>
      
    </div>

    <div class = "panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">repositories</h1>
      </div>
      <div  class="panel-body" *ngFor="let repository of repositories">
        <ul>
          <a href="{{repository.html_url}}">{{repository.name}}</a>
        </ul>
      </div>
    </div>
   </div>
  </div>
  
  

