<!-- <form (ng-submit)="onsubmit()">
  <input class="form-group" type="text" [(ng-model)]="users.name" placeholder="Username" name="quotation">
  <button id="search1" class="btn" type="submit" value="search">search</button>
  </form> -->
  <div class="row">
   <div class="col-md-6">
      <img src="{{users.avatar_url}}" class="img-circle"  alt="">
  </div>
  <div class="col-md-6">
    <div class = "list-group">
      <li class="list-group-item"*ngIf="users.name">Username: {{users.name}}</li>
      <li class="list-group-item" *ngIf="users.bio"> Bio: {{users.bio}}</li>
      <li class="list-group-item" *ngIf="users.blog"> Blog: {{users.blog}}</li>
      <li class="list-group-item" *ngIf="users.email"> Email: {{users.email}}</li>
      <li class="list-group-item" *ngIf="users.public_repos"> public_repos: {{users.public_repos}}</li>
      <li class="list-group-item" *ngIf="users.followers"> followers: {{users.followers}}</li>
      
    </div>

    <div class = "panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">repositories</h1>
      </div>
      <div  class="panel-body" *ngFor="let repository of repositories">
        <ul>
          <a href="{{repository.html_url}}">{{repository.name}}</a>
        </ul>
      </div>
    </div>
   </div>
  </div>
  
  

